ul{
	list-style-type: none;
}
#selectedtable{
	width: 100%;
	padding: none;
}
#selectedtable li{
	width: 100%;
	padding: 5px;
	line-height: 20px;

}
.boxselected{
	width: 100%;
	font-size: 15px;
	align-items: center;
}