#Selected{
	position: relative;
}
#loginform{
	position: absolute;
	top:300px;
	text-align: center;
	left: 35%;
	background-color: grey;
	box-shadow: 2px 2px 2px;
	border-radius: 15px;
	width: 30%;
	margin-bottom: 10px;
}
#menudrop1{
	width: 500px;
}
#menudrop2{
	width: 500px;
}
#menudrop3{
	width: 500px;
	background-color: black;

}
#menudrop3 a{
	color: white;
}
#menudrop3 li:hover a{
	color: black;
}